extends layout

block content
  h1 Welcome to the Api from Group One
  p With post api/course you can store a new Route in the Database of the Server
  p With get api/course you get all courses stored in the Database of the Server
