body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ReactLoading{
  text-align:center
}
.Spinner{
  margin:auto;
  padding:200px 0;}

  .MuiTabs-fixed {
    position: fixed !important;
    z-index: 50000;
    background-color: white;
  }
 